{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.json", "*.mjs"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
