@import '@fortawesome/fontawesome-free/css/all.css';

main > .content-panel:first-of-type {
    /* 기본적으로 생기는 title 영역 제거 */
    display: none;
}

.sl-container {
    max-width: 100% !important;
}

.content-panel {
    padding: 0 !important;
}

.dark-text-stroke {
    -webkit-text-stroke: 1px #9e9e9e;
}

.main-container {
    /* PC 환경에서 최대 1440px로 제한 */
    width: min(100%, 1440px);
}
