---

---

<marquee
    class="w-full
	  bg-gray-800
	  bg-opacity-70
	  bg-clip-padding
	  px-6
	  py-4
	  text-white
	  backdrop-blur-md
	  backdrop-filter"
    scrollamount="12"
>
    <div class="flex items-center gap-x-4">
        <slot />
    </div>
</marquee>
