---
import AboutSection from 'components/about-section.astro'
import UsecaseSection from 'components/usecase-section.astro'
import FeatureSection from 'components/feature-section.astro'
---

<div
    style="background-image: url('/blurry-background-large-1.svg'); object-fit: cover; background-repeat: repeat-y;"
    class="flex flex-col gap-[100px] px-4 pb-10 pt-[100px] md:px-10"
>
    <!-- content 영역 -->
    <AboutSection />
    <UsecaseSection />
    <FeatureSection />

    <img src="/macbook-sample.png" />

    <!-- TODO: footer 영역 -->
</div>
