---
import AboutSection from 'components/about-section.astro'
import UsecaseSection from 'components/usecase-section.astro'
import VimEnterSection from 'components/vimenter-section.jsx'
import DiscordCTASection from 'components/discord-cta-section.jsx'

import Container from 'components/container.astro'
---

<div
    class="flex min-h-screen flex-col gap-[100px] bg-space-to-ground bg-cover pb-10 pt-[100px]"
>
    <!-- content 영역 -->
    <Container>
        <AboutSection />
    </Container>
    <Container>
        <DiscordCTASection />
    </Container>
    <UsecaseSection />
    <Container>
        <VimEnterSection />
    </Container>

    <!-- TODO: footer 영역 -->
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2Y08PZHV2"
></script>
<script is:inline>
    window.dataLayer = window.dataLayer || []
    function gtag() {
        dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-Y2Y08PZHV2')
</script>
