---
import AboutSection from 'components/about-section.astro'
import UsecaseSection from 'components/usecase-section.astro'
import FeatureSection from 'components/feature-section.astro'

import Container from 'components/container.astro'
---

<div
    class="flex flex-col gap-[100px] bg-light bg-cover pb-10 pt-[100px] dark:bg-dark"
>
    <!-- content 영역 -->
    <Container>
        <AboutSection />
    </Container>
    <UsecaseSection />
    <Container>
        <FeatureSection />
    </Container>

    <!-- TODO: footer 영역 -->
</div>
