---
interface Props {
    colorVariant: 'gray' | 'green' | 'red' | 'blue' | 'yellow' | 'violet'
}

const { colorVariant = 'green' } = Astro.props

const backgroundColors = {
    gray: 'bg-gray-100',
    green: 'bg-green-100',
    red: 'bg-red-100',
    blue: 'bg-blue-100',
    yellow: 'bg-yellow-100',
    violet: 'bg-violet-100',
}

const borderColors = {
    gray: 'border-gray-300',
    green: 'border-green-300',
    red: 'border-red-300',
    blue: 'border-blue-300',
    yellow: 'border-yellow-300',
    violet: 'border-violet-300',
}

const backgroundColor = backgroundColors[colorVariant]
const borderColor = borderColors[colorVariant]
---

<div
    class={`
  w-full
  max-w-2xl
  ${backgroundColor}
  ${borderColor} 
  rounded-2xl
  border-4
  border-opacity-40
  bg-opacity-30 
  bg-clip-padding 
  px-6 
  py-10
  backdrop-blur-md
  backdrop-filter
  shadow-md
  shadow-black
`}
>
    <h2
        style="word-break: keep-all;"
        class="dark:dark-text-stroke font-extrabold !leading-relaxed dark:text-white"
    >
        <slot name="icon" />
        <slot name="title" />
    </h2>
    <div
        style="word-break: keep-all;"
        class="text-2xl leading-10 !text-slate-800 !dark:text-slate-400 "
    >
        <slot />
    </div>
</div>
