---
import readingMaterialsJSON from '../data/reading-materials.json'
---

<!-- external link에 대한 모음 -->
<section>
    <h2 class="mb-[50px] border-b-black">
        <i class="fa-solid fa-book-open"></i>
        <span class="ml-[10px]">Reading Materials</span>
    </h2>
    <ul>
        {
            readingMaterialsJSON.map((feature) => (
                <li class="mb-[30px]">
                    <a href={feature.link} target="_blank">
                        <h3 class="font-bold">{feature.title}</h3>
                        <p class="!mt-[10px]">{feature.description}</p>
                        <div class="!mt-0 text-sm">
                            written by {feature.author}
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
