---
import Marquee from 'components/glass-morphic-marquee/marquee-wrapper.astro'
import MarqueeLogo from 'components/glass-morphic-marquee/marquee-logo.astro'
import MarqueeCategoryLabel from 'components/glass-morphic-marquee/marquee-category-label.astro'

import Showcase from 'components/showcase.astro'
---

<section>
    <div class="px-30">
        <Marquee>
            <MarqueeCategoryLabel>Web development</MarqueeCategoryLabel>
            <MarqueeLogo src="/react-logo.png" />
            <MarqueeLogo src="/astro-logo.png" />
            <MarqueeLogo src="/svelte-logo.png" />
            <div class="!mx-2 !mt-0">
                <MarqueeLogo src="/django-logo.png" />
            </div>
            <MarqueeLogo src="/ruby-logo.png" />

            <MarqueeCategoryLabel>Mobile App</MarqueeCategoryLabel>
            <MarqueeLogo src="/react-logo.png" />
            <MarqueeLogo src="/flutter-logo.png" />

            <MarqueeCategoryLabel>Note taking</MarqueeCategoryLabel>
            <MarqueeLogo src="/obsidian-logo.png" />
            <!-- <MarqueeLogo src="/typst-logo.png"/> -->
            <!-- <MarqueeLogo src="/neorg-logo.png"/> -->

            <MarqueeCategoryLabel>Research</MarqueeCategoryLabel>
            <MarqueeLogo src="/jupyter-logo.png" />
            <MarqueeLogo src="/latex-logo.png" />

            <MarqueeCategoryLabel>Vim as TUI</MarqueeCategoryLabel>
            <MarqueeLogo src="/git-logo.png" />
            <MarqueeLogo src="/github-logo.png" />
            <MarqueeLogo src="openai-logo.png" />
        </Marquee>
    </div>
    <Showcase />
</section>
